/************************************************************************
 * Styles globaux */

.text-center {
    text-align: center;
}

/************************************************************************
 * En-tête */

header a {
    text-decoration: none;
}

/************************************************************************
 * Pied de page */

footer .bi-discord {
    color: #5865F2;
}

footer .bi-steam {
    color: #ffffff;
}

footer .bi-github {
    color: #c5d1de;
}

[data-theme="light"],
:root:not([data-theme="dark"]) {
    footer .bi-steam {
        color: #000000;
    }

    footer .bi-github {
        color: #181717;
    }
}
