/************************************************************************
 * Styles globaux */

.text-center {
    text-align: center;
}

/************************************************************************
 * En-tête */

body > header a {
    text-decoration: none;
}

/************************************************************************
 * Pied de page */

body > footer {
    display: flex;
    column-gap: var(--pico-block-spacing-vertical);
}