/************************************************************************
 * Styles de base */

/************************************************************************
 * Styles globaux */

.text-center {
    text-align: center;
}

body > main > *:last-child,
* > p:last-child {
    margin-bottom: 0;
}

/************************************************************************
 * En-tête */

body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

body > header a {
    text-decoration: none;
}

body > header a img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

body > header > .site-name {
    text-align: center;
}

body > header > .site-name > a {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.125;
}

body > header > .site-name > div {
    color: var(--pico-muted-color);
    font-size: 1rem;
}

@media (min-width: 768px) {
    body > header {
        flex-direction: row;
        justify-content: start;
    }

    body > header > .site-name {
        text-align: left;
    }
}

/************************************************************************
 * Contenu */

body > main h1:before,
body > main h2:before {
    content: ':: ';
    color: var(--pico-primary);
}

/************************************************************************
 * Pied de page */

body > footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
}

body > footer > *:first-child {
    font-size: 0.7em;
}

body > footer > *:last-child {
    font-size: 1.5em;
    display: flex;
    flex-direction: row;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

@media (min-width: 768px) {
    body > footer {
        flex-direction: row;
        justify-content: space-between;
    }
}