/************************************************************************
 * Styles de base */

/************************************************************************
 * Styles globaux */

.text-center {
    text-align: center;
}

.mb-0 {
    margin-bottom: 0;
}

img {
    box-sizing: content-box;
}

/************************************************************************
 * En-tête */

body > header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    border-bottom: var(--pico-border-width) solid var(--pico-muted-border-color);
}

body > header a {
    text-decoration: none;
}

body > header > div {
    text-align: center;
}

body > header > div > a {
    font-weight: 700;
    font-size: 2rem;
    line-height: 1.125;
}

body > header > div > div {
    color: var(--pico-muted-color);
    font-size: 1rem;
}

@media (min-width: 768px) {
    body > header {
        flex-direction: row;
        justify-content: start;
    }

    body > header > div {
        text-align: left;
    }
}

/************************************************************************
 * Contenu */

body > main h1:before,
body > main h2:before {
    content: '• ';
    color: var(--pico-primary);
}

body > main article > header,
body > main details > summary {
    font-weight: bolder;
}

/************************************************************************
 * Liste des jeux */

body > main .games {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > main .games > * {
    justify-self: center;
    min-width: 0;
}

body > main .games img {
    border: var(--pico-border-width) solid var(--pico-muted-border-color);
    border-radius: var(--pico-border-radius);
}

@media (min-width: 576px) {
    body > main .games {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1024px) {
    body > main .games {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {
    body > main .games {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1536px) {
    body > main .games {
        grid-template-columns: repeat(5, 1fr);
    }
}

/************************************************************************
 * Pied de page */

body > footer {
    color: var(--pico-muted-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
    border-top: var(--pico-border-width) solid var(--pico-muted-border-color);
}

body > footer a {
    --pico-color: var(--pico-muted-color);
    --pico-underline: var(--pico-muted-color);
}

body > footer > *:first-child {
    font-size: 0.7em;
}

body > footer > *:last-child {
    display: flex;
    flex-direction: row;
    column-gap: var(--pico-grid-column-gap);
    row-gap: var(--pico-grid-row-gap);
}

body > footer > *:last-child svg.bi {
    width: 1.5em;
    height: 1.5em;
}

@media (min-width: 768px) {
    body > footer {
        flex-direction: row;
        justify-content: space-between;
    }
}
