{% set jsonld_organization = {
    '@type': 'Organization',
    'name': team_name,
    'alternateName': 'LAN',
    'description': motto,
    'slogan': motto,
    'url': url('', absolute=True),
    'image': url('/images/logo_256.png', absolute=True),
    'logo': url('/images/logo_256.png', absolute=True),
    'foundingDate': '2024-03-08',
} %}

{% set base_jsonld_schema = {
    '@context': 'https://schema.org',
    '@type': 'WebPage',
    'name': self.title() or team_name,
    'description': self.description(),
    'image': self.image(),
    'url': self.canonical_url() or None,
} %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %}{{ ' • ' if self.title() }}{{ team_name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="{% block description %}{{ motto }}{% endblock %}">

    <meta property="og:type" content="website">

    {% if self.canonical_url() %}
        <meta property="og:url" content="{% block canonical_url %}{% endblock %}">
    {% endif %}

    <meta property="og:site_name" content="{{ team_name }}">
    <meta property="og:title" content="{{ self.title() or team_name }}">
    <meta property="og:description" content="{{ self.description() }}">
    <meta property="og:image" content="{% block image %}{{ url('/images/logo_256.png', absolute=True) }}{% endblock %}">
    <meta property="og:locale" content="fr_FR">

    {% if self.canonical_url() %}
        <link rel="canonical" href="{{ self.canonical_url() }}">
    {% endif %}

    <link rel="icon" href="{{ url('/favicon.ico') }}" sizes="32x32 48x48">

    {% if jsonld_schema %}
        <script type="application/ld+json">{{ tojsonm(jsonld_schema) }}</script>
    {% endif %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.orange.min.css">
    {% block cssfiles %}{% endblock %}
</head>
<body>
    <header class="container">
        <a href="{{ url('/') }}"><img src="{{ url('/images/logo_120.png') }}" alt="Logo de la team {{ team_name }}" width="120" height="120"></a>
        <div class="site-name">
            <a href="{{ url('/') }}">{{ team_name }}</a>
            <div>{{ motto }}</div>
        </div>
    </header>

    <main class="container">
        {% if self.title() %}
            <h1>{{ self.title() }}</h1>
        {% endif %}

        {% block content %}{% endblock %}
    </main>

    <footer class="container">
        <div class="text-center">
            © {{ current_year }} <a href="https://epoc.fr/">Maxime "Epoc" Gross</a> et <a href="https://github.com/Les-Aventuriers-Numeriques/team-lan.org/graphs/contributors">contributeurs</a>
        </div>

        <div>
            {% for social_link_icon, social_link_url in social_links %}
                <a href="{{ social_link_url }}">{{ icon(social_link_icon) }}</a>
            {% endfor %}
        </div>
    </footer>
</body>
</html>