<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">

    <title>{% block title %}{% endblock title %}{{ ' :: ' if self.title() }}{{ site_name }}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="{% block description %}{{ site_description }}{% endblock %}">

    <link rel="icon" href="/favicon.ico" sizes="32x32">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2.0.6/css/pico.classless.orange.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flexboxgrid@6.3.1/dist/flexboxgrid.min.css">

    {% assets filters="cssutils", output="css/app.min.css", "css/app.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}
</head>
<body>
    <header>
        <hgroup>
            <h1>{{ site_name }}</h1>
            <p>{{ site_description }}</p>
        </hgroup>
    </header>
    <main>
        <article>
            {% block content %}{% endblock %}
        </article>
    </main>
    <footer>
        © 2024 <a href="https://epoc.fr/">Maxime "Epoc" Gross</a> et les <a href="https://github.com/Les-Aventuriers-Numeriques/site-principal/graphs/contributors">contributeurs</a>
    </footer>
</body>
</html>