{% extends '_layout.html' %}

{% block canonical_url %}{{ url('/', absolute=True) }}{% endblock %}

{% block cssfiles %}
    {% assets 'css_index' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <h1>En quelques mots</h1>

    <section>
        <p>Nous sommes un regroupement de joueurs partageant la même passion - les jeux vidéo - dont les origines remontent à l'âge d'or de <i>Project Reality</i>, le mod <i>Battlefield 2</i> le plus notoire.</p>
        <p>À l'époque, les membres historiques de ce groupe pouvaient se compter sur les doigts d'une main, mais de nombreuses péripéties au fil des années nous ont permises de rencontrer des joueurs partageant nos valeurs, qui ont décidé de jouer régulièrement à nos côtés, tout en nous permettant de nous diversifier et d'évoluer.</p>
        <p><i>Les Aventuriers Numériques</i> est donc née en mars 2024 dans l'esprit convivial qui nous décrit.</p>
        <p>Nous organisons depuis 2023 une <a href="{{ url('/lan') }}">LAN party annuelle</a> privée. Il n'est pas improbable qu'un jour, nous l'ouvrions au public.</p>
    </section>

    {% with title = 'En ce moment, on joue à...', games = games_being_played %}
        {% include '_games.html' %}
    {% endwith %}

    {% with title = 'Auparavant, on a beaucoup joué à...', games = previously_played_games, class = 'mb-0' %}
        {% include '_games.html' %}
    {% endwith %}
{% endblock %}