{% extends '_layout.html' %}

{% block canonical_url %}{{ url('/', absolute=True) }}{% endblock %}

{% block cssfiles %}
    {% assets 'css_index' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p class="text-center">
        <img src="{{ url('/images/logo_256.png') }}" alt="Logo de notre team">
    </p>

    {{ lipsum(3) }}

    <article>
        <header><i class="bi bi-pc-display"></i> A quoi on joue ?</header>

        <div class="games">
            {% for appid, appname in games_being_played %}
                <a href="https://store.steampowered.com/app/{{ appid }}"><img src="https://cdn.cloudflare.steamstatic.com/steam/apps/{{ appid }}/capsule_231x87.jpg" alt="Illustration {{ appname }}" title="{{ appname }}"></a>
            {% endfor %}
        </div>
    </article>
{% endblock %}