{% extends '_layout.html' %}

{% block title %}2ème LAN annuelle{% endblock %}

{% block description %}Infos à propos de la LAN annuelle organisée par la team {{ team_name }}{% endblock %}

{% block canonical_url %}{{ url('/lan', absolute=True) }}{% endblock %}

{% block cssfiles %}
    {% assets 'css_lan' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    <p>Comme chaque année depuis 2023, nous organisons une LAN party privée dont voici les informations à propos de l'édition de cette année. <strong>Il n'est possible de la joindre que sur notre invitation expresse</strong>.</p>

    <section class="info">
        <article>
            <header>Quand ?</header>
            <p>Du 7 au 11 novembre 2024.</p>
            <p class="mb-0">Aucune obligation de présence évidemment : vous venez et repartez quand vous voulez.</p>
        </article>
        <article>
            <header>Où ?</header>
            <p class="mb-0">C'est en cours de définition, mais cela se passera quelque part dans la zone de Chalon-sur-Saône, Beaune, Verdun-sur-le-Doubs ou Arnay-le-Duc.</p>
        </article>
        <article>
            <header>Qui ?</header>
            <p class="mb-0">À ce jour (30 mars), il est prévu entre 6 et 9 joueurs.</p>
        </article>
        <article>
            <header>Combien ?</header>
            <p class="mb-0">Les frais (location des lieux, nourriture, boissons et une partie des frais de déplacement de joueurs qui viennent de très loin) sont répartis équitablement entre tous les participants.</p>
        </article>
        <article class="lan-games">
            <header>Quels jeux ?</header>

            {% if lan_games %}
                <div class="games">
                    {% with games = lan_games %}
                        {% include '_games.html' %}
                    {% endwith %}
                </div>

                <p class="mb-0">Cette liste n'est évidemment pas figée ni exhaustive, rien n'empêche plusieurs joueurs de lancer spontanément une partie sur un jeu qui n'est pas listé.</p>
            {% else %}
                <p class="mb-0">À définir.</p>
            {% endif %}
        </article>
    </section>

    <section class="mb-0">
        <h2>Précédentes éditions</h2>

        <details class="mb-0">
            <summary role="button" class="outline secondary">2023</summary>

            <p class="mb-0">Cette première édition s'est déroulée du 28 octobre au 1er novembre à Amilly (à côté de Montargis, au sud de Paris). Nous étions 6 joueurs, et avions joué à Killing Floor 2, Rocket League, PUBG, RUNNING WITH RIFLES, Call to Arms, Satisfactory, Keep Talking and Nobody Explodes (VR), Arizona Sunshine (VR) et Age of Empires II. Nous avions loué une maison entière, nous avions donc tout à disposition sur place (couchage, cuisine, etc).</p>
        </details>
    </section>
{% endblock %}
