{% extends '_layout.html' %}

{% from '_layout.html' import jsonld_organization, base_jsonld_schema with context %}

{% block title %}3ème LAN annuelle{% endblock %}

{% block description %}Infos à propos de la LAN annuelle organisée par la team {{ team_name }}.{% endblock %}

{% block canonical_url %}{{ absurl('/lan') }}{% endblock %}

{% block jsonld_schema -%}
    {{ base_jsonld_schema|dictmerge({
        'about': {
            '@type': 'SocialEvent',
            'name': self.title(),
            'description': self.title(),
            'image': self.image(),
            'eventAttendanceMode': 'https://schema.org/OfflineEventAttendanceMode',
            'organizer': jsonld_organization,
            'startDate': start_date.isoformat() if start_date else None,
            'endDate': end_date.isoformat() if end_date else None,
            'location': {
                '@type': 'City',
                'name': location.name,
            } if location else None,
            'maximumAttendeeCapacity': max_attendees or None,
            'remainingAttendeeCapacity': max_attendees - current_attendees if max_attendees and current_attendees else None,
        },
    })|tojsonm }}
{%- endblock %}

{% block cssfiles %}
    {% assets 'css_lan' %}<link rel="stylesheet" href="{{ ASSET_URL }}">{% endassets %}
{% endblock %}

{% block content %}
    {% if start_date and end_date and current_attendees and max_attendees %}
        <p>Comme chaque année depuis 2023, nous organisons une LAN party privée dont voici les informations à propos de l'édition de 2025. <strong>Il n'est possible de la joindre que sur notre invitation expresse</strong>.</p>

        <section class="info">
            <article>
                <header>Quand ?</header>
                <p>Du {{ start_date.day if start_date.month == end_date.month or start_date|dateformat('d MMMM') }} au {{ end_date|dateformat('long') }}.</p>
                <p class="mb-0">Aucune obligation de présence évidemment : vous venez et repartez quand vous voulez.</p>
            </article>
            <article>
                <header>Où ?</header>

                {% if location %}
                    <p class="mb-0">Ça se passera à <a href="{{ location.url }}">{{ location.name }}</a>.</p>
                 {% else %}
                    <p class="mb-0">À définir.</p>
                {% endif %}
           </article>
            <article>
                <header>Qui ?</header>
                <p class="mb-0">Il est prévu {{ current_attendees }} joueurs sur un maximum de {{ max_attendees }}.</p>
            </article>
            <article>
                <header>Combien ?</header>
                <p>Les frais sont répartis équitablement entre tous les participants. Les joueurs venant de loin participent moins aux frais afin de compenser leurs frais de déplacement.</p>
                <p class="mb-0">Deux acomptes (englobant les frais de logement par personne) sont demandés : le premier afin de valider l'inscription, et le second 2 mois avant le début de la LAN.</p>
            </article>
        </section>
    {% else %}
        <p>Les informations de l'édition 2025 de notre LAN party privée seront disponibles plus tard. En attendant, vous trouverez ci-dessous quelques informations sur nos précédentes éditions.</p>
    {% endif %}

    <section class="previously mb-0">
        <h2>Précédentes éditions</h2>

        <details>
            <summary role="button" class="outline secondary">2024</summary>

            <div>
                <img src="/images/lans/2024.png" width="600" height="450" alt="Les participants de l'édition 2024 : DrMastock, offic3r_3dwards, Epoc, Pepsy, Poitre, Korgorr, Mattchaby et Guitouzid">

                <div>
                    <p>La seconde édition s'est déroulée du 7 au 11 novembre à <a href="https://maps.app.goo.gl/5Azz9MJbAin44MUt6">Rully</a> (pas loin de Chalon-sur-Saône).</p>
                    <p>Nous étions 8 joueurs, et avions joué à Satisfactory, Killing Floor 2, Rocket League, Drawful 2, It's Quiz Time, RUNNING WITH RIFLES, Civilization VI, Arizona Sunshine (VR), Dale & Dawson Stationery Supplies, Pummel Party, Lethal Company, Command & Conquer Remastered Collection, Blitzkrieg Mod et Age of Empires II.</p>
                    <p class="mb-0">Nous avions loué une maison entière façe à un château, beaucoup plus confortable que la précédente édition.</p>
                </div>
            </div>
        </details>

        <details class="mb-0">
            <summary role="button" class="outline secondary">2023</summary>

            <div>
                <img src="/images/lans/2023.png" width="600" height="450" alt="Quelques participants de l'édition 2023 : Epoc, Yann, DrMastock et Korgorr">

                <div>
                    <p>Cette première édition s'est déroulée du 28 octobre au 1er novembre à <a href="https://maps.app.goo.gl/Wh5GSmUhxcFXVrqo6">Amilly</a> (à côté de Montargis, au sud de Paris).</p>
                    <p>Nous étions 6 joueurs, et avions joué à Killing Floor 2, Rocket League, PUBG, RUNNING WITH RIFLES, Call to Arms, Satisfactory, Keep Talking and Nobody Explodes (VR), Arizona Sunshine (VR) et Age of Empires II.</p>
                    <p class="mb-0">Nous avions loué une maison entière, mais le confort n'était pas top.</p>
                </div>
            </div>
        </details>
    </section>
{% endblock %}
