name: Publier

on:
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: 'publish'
  cancel-in-progress: false

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Installation des packages système
        run: sudo apt install language-pack-fr -y
      - name: Checkout du dépôt
        uses: actions/checkout@v4
      - name: Installation de Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: 'pip'
          cache-dependency-path: 'requirements*.txt'
      - name: Mise à jour de pip
        run: python -m pip install --upgrade pip
      - name: Installation des dépendances
        run: pip install -r requirements.txt
      - name: Installation de la clef SSH
        run: |
          mkdir $HOME/.ssh
          echo "${{ secrets.SSH_KEY }}" >> $HOME/.ssh/id_rsa
          chmod 400 $HOME/.ssh/id_rsa
          ssh-keyscan -t rsa ${{ vars.SSH_HOST }} >> $HOME/.ssh/known_hosts
      - name: Génération du site
        run: pelican -s publishconf.py --fatal warnings
      - name: Déploiement du site
        run: rsync --delete -pthrvz -c -e "ssh -p 22" output/ ${{ vars.SSH_USER }}@${{ vars.SSH_HOST }}:${{ vars.SSH_PATH }}